<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>PDF Files</title>

    <!-- Required Stylesheets -->   
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <!-- Vue scripts -->
    {% load static %}
    <script src="{% static 'index.js' %}"></script>
  </head>
  <body>
    <!-- Our application root element -->
    <div id="root">

    <b-jumbotron>
    <template v-slot:header>PDF Files</template>
    <hr class="my-4">

    <p>
      <b-form-file
      accept="application/pdf"
      v-model="file"
      :state="isValid"
      :disabled="isuploading"
      placeholder="Choose a file or drop it here..."
      drop-placeholder="Drop file here..."
      ></b-form-file>
    </p>

    <b-button 
    variant="success" 
    @click="upload"
    :disabled="!isValid"
    >[[uploadtext]]
    </b-button>
  </b-jumbotron>

    </div>
  </body>
</html>